<!--Main Navigation-->
<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light scrolling-navbar bg-navbar">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand waves-effect" [routerLink]="['/home']">
                <!--<strong class="blue-text">Museo Inform&aacute;tica</strong>-->
                <img src="http://oceano.uma.es/logo-uma.png" style="width:125px;height:125px;">
            </a>
            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container">
                    <div class="row">
                        <ul class="navbar-nav nav-flex-icons" style="margin-left: 140px;">
                            <li class="nav-item">
                                <a href="https://es-es.facebook.com/universidadmalaga/" class="nav-link waves-effect"
                                    target="_blank">
                                    <i class="fab fa-facebook-f" style="color: #ffffff;"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.youtube.com/channel/UC8T2wOw_orprODSWMEHrqEw/"
                                    class="nav-link waves-effect" target="_blank">
                                    <i class="fab fa-youtube" style="color: #ffffff;"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="https://twitter.com/informaticauma" class="nav-link waves-effect"
                                    target="_blank">
                                    <i class="fab fa-twitter" style="color: #ffffff;"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.instagram.com/infouma/" class="nav-link waves-effect"
                                    target="_blank">
                                    <i class="fab fa-instagram" style="color: #ffffff;"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-auto" style="margin-left: 50px;">
                            <div class="col-md-auto">
                                <li class="nav-item rounded">
                                    <a class="nav-link border border-light rounded waves-effect" (click)="doLogIn()">
                                        <i class="fas fa-user-cog" style="color: #ffffff;"></i><label class="title"
                                            style="color: #ffffff;">Administraci&oacute;n</label>
                                    </a>
                                </li>
                            </div>
                            <div class="col-md-auto">
                                <li id="signout" class="nav-item rounded" style="display:none;">
                                    <a href="home" class="nav-link border border-light rounded waves-effect"
                                        (click)="doSignOut()">
                                        <i class="fas fa-sign-out-alt" style="color: #ffffff;"></i><label class="title"
                                            style="color: #ffffff;">Cerrar
                                            Sesi&oacute;n</label>
                                    </a>
                                </li>
                            </div>
                            <div class="col-md-auto">
                                <li class="nav-item">
                                    <a [routerLink]="['/manual']" class="nav-link waves-effect">
                                        <i class="far fa-question-circle" style="color: #ffffff;"></i>
                                    </a>
                                </li>
                            </div>
                        </ul>

                    </div>
                    <div class="row">
                        <ul class="navbar-nav mr-auto" style="margin-left: 70px; margin-top: 10px;">
                            <div class="col-md-auto">
                                <li class="nav-item active home">
                                    <a class="nav-link waves-effect" [routerLink]="['home']"><label
                                            class="title">Inicio</label>
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            </div>
                            <div class="col-md-auto">
                                <li class="nav-item">
                                    <a class="nav-link waves-effect" [routerLink]="['/documentation']"><label
                                            class="title">Documentaci&oacute;n</label>
                                    </a>
                                </li>
                            </div>
                            <div class="col-md-auto">
                                <li class="nav-item">
                                    <a class="nav-link waves-effect" [routerLink]="['/collection']"><label
                                            class="title">Colecci&oacute;n</label>
                                    </a>
                                </li>
                            </div>
                            <div class="col-md-auto">
                                <li class="nav-item">
                                    <a class="nav-link waves-effect" [routerLink]="['/donations']"><label
                                            class="title">Donaciones</label>
                                    </a>
                                </li>
                            </div>
                            <div class="col-md-auto">
                                <li class="nav-item">
                                    <a class="nav-link waves-effect" [routerLink]="['/map']"><label class="title">Mapa
                                            del Museo</label>
                                    </a>
                                </li>
                            </div>
                            <div class="col-md-auto">
                                <li class="nav-item">
                                    <a class="nav-link waves-effect" [routerLink]="['/about']"><label
                                            class="title">Acerca
                                            de</label>
                                    </a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </nav>
    <!-- Navbar -->
</header>
<!--Main Navigation-->