   /* Small devices (portrait tablets and large phones, 600px and up) */
  @media (max-width: 1200px) and (min-width: 992px) {
    .title { font-size: 13px; }
    .text {
      font-size: 12px;
    }
    .button1{
      width: 80px;
      height: 50px; 
    }
  }