<!--Footer-->
<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">
    <div class="container">
        <div class="pt-4">
            <br>
            <div class="row">
                <div class="col-md-auto">
                    <p>HORARIO: <br>
                        Lunes a Viernes <br>
                        de 10h a 19h</p>
                </div>

                <div class="col-md-auto">
                    <p>Universidad de Málaga <br> Avda. Cervantes, 2. 29071 M&Aacute;LAGA <br> Tel. 952 13 10 00 <br> info@uma.es
                    </p>
                </div>

                <div class="col-md-auto">
                    <!-- Social icons -->
                    <br>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="nav-link waves-effect" [routerLink]="['/home']">Inicio
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="nav-link waves-effect" [routerLink]="['/documentation']">Documentaci&oacute;n</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="nav-link waves-effect" [routerLink]="['/collection']">Colecci&oacute;n</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="nav-link waves-effect" [routerLink]="['/donations']">Donaciones</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="nav-link waves-effect" [routerLink]="['/about']">Acerca de</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-auto">
                    <br>
                    <!-- Social icons -->
                    <div class="pb-4">
                        <a href="https://es-es.facebook.com/universidadmalaga/" target="_blank">
                            <i class="fab fa-facebook-f mr-3"></i>
                        </a>
                        <a href="https://twitter.com/informaticauma" target="_blank">
                            <i class="fab fa-twitter mr-3"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UC8T2wOw_orprODSWMEHrqEw/" target="_blank">
                            <i class="fab fa-youtube mr-3"></i>
                        </a>
                        <a href="https://www.instagram.com/infouma/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>






    <!--Copyright-->
    <div class="footer-copyright py-3">

        Copyright ©2019 by
        <a href="https://www.uma.es/" target="_blank"> UMA</a>.All rights reserved.
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->