<!--Footer-->
<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">
    <!-- Social icons -->
    <div class="pt-4">
        <div class="pb-4">
            <a href="https://es-es.facebook.com/universidadmalaga/" target="_blank">
                <i class="fab fa-facebook-f mr-3"></i>
            </a>
            <a href="https://twitter.com/informaticauma" target="_blank">
                <i class="fab fa-twitter mr-3"></i>
            </a>
            <a href="https://www.youtube.com/channel/UC8T2wOw_orprODSWMEHrqEw/" target="_blank">
                <i class="fab fa-youtube mr-3"></i>
            </a>
            <a href="https://www.instagram.com/infouma/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>

        </div>
        <!-- Social icons -->
        <ul class="list-inline">
            <li class="list-inline-item">
                <a class="nav-link waves-effect" [routerLink]="['/home']">Inicio
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link waves-effect" [routerLink]="['/documentation']">Documentaci&oacute;n</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link waves-effect" [routerLink]="['/collection']">Colecci&oacute;n</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link waves-effect" href="https://mdbootstrap.com/education/bootstrap/"
                    target="_blank">Donaciones</a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link waves-effect" [routerLink]="['/']">Acerca de</a>
            </li>
        </ul>

        <p>HORARIO: Lunes a Viernes de 10h a 19h</p>
        <p>Universidad de Málaga · Avda. Cervantes, 2. 29071 M&Aacute;LAGA · Tel. 952 13 10 00 · info@uma.es</p>
    </div>

    <!--Copyright-->
    <div class="footer-copyright py-3">

        Copyright ©2019 by
        <a href="https://www.uma.es/" target="_blank"> UMA</a>.All rights reserved.
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->