<main class="mt-5 pt-5">
  <div class="container">

    <div class="card" style="text-align: center;">
      <h2><strong>Acerca del Museo de la Inform&aacute;tica </strong></h2>
      <hr>
      <div class="container">
        <h5><b>¿D&oacute;nde puedo visitar el museo?</b></h5>
        <br>
        <div class="row">
          <div class="col-sm-6" style="text-align: center;">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3198.309128425506!2d-4.479836685474051!3d36.715136379966054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72f74b9f3606f1%3A0x9fa32cc2e6b0bbf9!2sE.T.S.+Ingenier%C3%ADa+Inform%C3%A1tica.+Universidad+de+M%C3%A1laga!5e0!3m2!1ses!2ses!4v1559228363581!5m2!1ses!2ses"
              width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-sm-6" style="text-align: center;">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/ETSI_Inform%C3%A1tica_y_de_Telecomunicaciones_UMA.jpg/240px-ETSI_Inform%C3%A1tica_y_de_Telecomunicaciones_UMA.jpg"
              alt="">
            <p style="text-align: justify;">
              El museo de la inform&aacute;tica ubicado en el interior de la Escuela T&eacute;cnica Superior de Ingenier&iacute;a
              Inform&aacute;tica.
              Creada en 1987, dispone de un amplio muestrario de piezas divididas entre las distintas salas y pasillos de
              la Universidad.
              <br />
              <b>Horario</b>: 9:00 a 14:00, S&aacute;bados
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="card" style="text-align: center;">
      <h2><strong>Nuestra Motivaci&oacute;n</strong></h2>
      <hr>
      <p style="text-align: justify;">
        <img src="https://www.uma.es/media/tinyimages/img/image_562.jpeg" style="float:left" alt="">
        <br />
        En este museo podr&aacute;s encontrar una amplia variedad de piezas antiguas que cubren los sectores de las m&aacute;quinas de
        c&aacute;lculo y la inform&aacute;tica, de entre muchas marcas.
        Pero no dispone de una p&aacute;gina moderna en la que poder hacer a todas ellas de una manera c&oacute;moda y visual.
        <br />
        Con nuestro TFG en mente, las ideas de nuestro tutor y bas&aacute;ndonos en un TFG donde se desarrollaba una plataforma
        web para el museo de la ETSI Inform&aacute;tica,
        vimos la posibilidad de usar nuevas tecnolog&iacute;as y aportar nuevas funcionalidades para darle un lavado de cara y
        que sea funcional para los estudiantes y
        las personas que visiten el museo. La idea era realizar una p&aacute;gina web adaptativa para distintos dispositivos,
        ya sean de escritorio como m&oacute;viles, la cual permitiese obtener informaci&oacute;n sobre las diferentes
        piezas del museo de la inform&aacute;tica ubicado en la ETSI Inform&aacute;tica.
      </p>
    </div>

    <div class="card" style="text-align: center;">
      <h2><strong>Agradecimientos</strong></h2>
      <hr>
      <p style="text-align: justify;">
        Agradecer a Daniel Sancho, dueño del museo por cedernos toda la informaci&oacute;n sobre su colecci&oacute;n y por reunir todas
        las piezas durante estos años para el disfrute
        y documentaci&oacute;n de todos los visitantes. Adem&aacute;s de permitirnos hacer su p&aacute;gina <a href="http://www.teclas.org" target="_blank">teclas</a> 
        como nuestro Trabajo de Fin de Grado, la cual os animamos a visitar.
        <br /> También hacer un especial agradecimiento a nuestro profesor de Tecnolog&iacute;as Web y tutor de nuestro TFG,
        Eduardo Guzm&aacute;n de los Riscos,
        Rafael Pernil por guiarnos con su trabajo anterior con IONIC y Angular y a &Aacute;lvaro Garc&iacute;a-Faure Torres, quien ya
        hizo un trabajo sobre la misma idea y la cual hemos querido ampliar.
      </p>
      <img src="https://media.tenor.com/images/780505b545f65f27afdbfea78acf6997/tenor.gif"
        style="width: 100px;height:100px;margin-left: 40%" alt="">
    </div>
  </div>
</main>