<main class="mt-5 pt-5">
        <div class="container">
<div class="header">
    <h2><b>Colecci&oacute;n de Piezas</b></h2>
</div>
<div class="row">
    <!-- COLUMNA IZQUIERDA-->
    <div class="leftcolumn">

        <!--FORM-->
        <div class="card border-light mb-3" style=" padding: 20px; margin-top: 20px;">
            <h3><b>¿Buscas una pieza?</b></h3>
            <!--Multicheckbox-->
            <div class="form-group">
                <h4><b>Tipos de Piezas</b></h4>
                <div *ngFor="let option of optionsCheckbox">
                    <label>
                        <input type="checkbox" name="options" value="{{option.value}}" [(ngModel)]="option.checked" />
                        {{option.name}}
                    </label>
                </div>
            </div>
            <!--END Multicheckbox-->
            <!-- Range Slider-->
            <div data-role="header">
                <h4><b>Año de la pieza</b></h4>
            </div>
            <div class="custom-slider">
                <p>Año minimo: <input type="number" step="{{options.step}}" [(ngModel)]="minYear"></p>
                <p>Año maximo: <input type="number" step="{{options.step}}" [(ngModel)]="maxYear"></p>
                <ng5-slider [(value)]="minYear" [(highValue)]="maxYear" [options]="options"></ng5-slider>
            </div>
            <!-- END Range Slider-->
            <!--Select Brand-->
            <div class="form-group">
                <h4><b>Marca de la pieza</b></h4>
                <select name="selectedItem" [(ngModel)]="selectedBrand" class="form-control" id="exampleSelect1">
                    <option [ngValue]="">Ninguna</option>
                    <option *ngFor="let b of brands" [ngValue]="b.name">{{b.name}}</option>
                </select>
            </div>
            <!--END Select Brand-->
            <p><b>Valores Seleccionados: </b></p>
            <p><b>Tipos: </b> {{(selectedOptions=='') ? 'No ha elegido ningun tipo' : ''}} {{selectedOptions}}</p>
            <p><b>Rango de Tiempo: </b>[{{minYear}},{{maxYear}}]</p>
            <p><b>Marca: </b>{{(selectedBrand=='') ? 'No ha elegido ninguna marca' : ''}} {{selectedBrand}}</p>
            <button (click)="doSearch()" type="button" id="button-addon2">Buscar</button>
        </div>
        <!--END FORM-->

    </div>


    <div class="rightcolumn">

        <div class="card border-light mb-3" style=" padding: 20px; margin-top: 20px;">
            <h4><b>Coincidencias:</b> </h4> <p>{{pieces.length>0 ? pieces.length : 'No hay piezas que coincidan con esos criterios'}} </p>
            <div class="card-columns">
                <div class="card border-info mb-3" *ngFor="let piece of pieces" (click)="goToPiece(piece)">
                    <img class="card-img-top" src="{{piece.images[0]}}" alt="Card No image">
                    <div class="card-body">
                        <h5 class="card-title">{{piece.name}}</h5>
                        <p class="card-text">{{ (piece.text).substring(0,100)}}{{piece.text.length > 100 ? '...' : ''}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{piece.types}}</small>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
        </div>

</main>
        <!--Main layout-->