<main class="mt-5 pt-5">
    <p>Coleccion</p>
    <div class="container">
        <ul class="list-group" *ngFor="let piece of pieces">
            <li class="list-group-item">{{piece.name}}</li>
            <li class="list-group-item">{{piece.text}}</li>
            <li class="list-group-item"><img
                    src="http://www.teclas.org/img/w/WW_Continental_01.jpg"
                    alt="hola"></li>
            <li class="list-group-item">{{piece.types}}</li>
            <li class="list-group-item">id: {{piece._links.self.href.split("/")[(piece._links.self.href.split("/").length-1)]}}</li>
        </ul>
    </div>
    <div>
        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
    </div>

    <div class="container">

        <mat-selection-list #shoes>
            <mat-list-option class="list-group-item" *ngFor="let shoe of typesOfShoes">
                {{shoe}}
            </mat-list-option>
        </mat-selection-list>

        <p class="list-group-item">
            Options selected: {{shoes.selectedOptions.selected.length}}
        </p>

    </div>
</main>
<!--Main layout-->