<div class="container">
  <ul class="tabrow">
    <li class="selected"><a [routerLink]="['/documentationCRUD']">Documentaci&oacute;n</a></li>

    <li class="co"><a [routerLink]="['/pieceCRUD']">Colecci&oacute;n</a></li>

    <li class=""><a [routerLink]="['/brandCRUD']">Marca</a></li>

    <li class=""><a [routerLink]="['/typeCRUD']">Tipo</a></li>

    <li class=""><a [routerLink]="['/roomCRUD']">Sala</a></li>
  </ul>
</div>
<main class="mt-5 pt-5">
  <div class="container">

    <div class="input-group mb-3 searchPadding">
      <input id="inputSearch" type="text" class="form-control" placeholder="Buscar" aria-label="Buscar"
        aria-describedby="button-addon2" [(ngModel)]='inputSearchValue'>
      <div class="input-group-append">
        <button (click)="doSearch()" type="button" id="button-addon2">Buscar</button>
      </div>
    </div>
    <div class="grid-container1">
      <div class="item1 title">{{documents.length}} resultados encontrados</div>
      <div class="item2"><button class="btn btn-primary btn-md" (click)="goToCreateDocument()" type="button"
          id="button-addon2">Crear Documento</button></div>
    </div>
    <div class="noDocuments" style="text-align: center;">
      <br />
      <br />
      <h2>No hay documentos que mostrar.</h2>
      <br />
      <br />
    </div>
    <div class="documentList">
      <mat-nav-list *ngFor="let document of documents">
        <div class="grid-container hover">
          <div class="item1">
            <p class="title">{{document.name}}</p>
          </div>
          <div class="item2">
            <a (click)="goToEditDocument(document)"><img class="imageButton"
                src="https://image.flaticon.com/icons/png/512/61/61776.png" /></a>
            &nbsp;
            <a (click)="doDelete(document)"><img class="imageButton"
                src="https://cdn.pixabay.com/photo/2012/04/12/20/12/x-30465__340.png" /></a>
          </div>

        </div>
      </mat-nav-list>
    </div>
  </div>
</main>
<!--Main layout-->