.margins{
  padding: 10px;
  padding-right: 30px;
  text-align: center;
}
.toppadding{
  padding-top: 20px;
}
.title {
    font-weight: bold;
    font-size: larger;
  }

.text {
    font-size: medium;
  } 
  .textbold {
    font-weight: bold;
    font-size: small;
    color: #0099cc;
  }
  .imageStyle {
    width: 150px;
    height: 150px;       
  } 
  .searchPadding{
      padding-left: 30%;
      padding-right: 30%;
  }
 .hover{
   /*background-color: rgba(156, 156, 156, 0.425);*/
    background-color: #b3d7e2;
 }
 .hover:hover{
    /*background-color: rgba(156, 156, 156, 0.658);*/
    background-color: #0099cc;
    color: #ffffff;
 }
 .noDocuments{
   padding-top: 100px;
   padding-bottom: 0px;
   text-align: center;
 }
 .mt-5.pt-5{
  padding-bottom: 100px;
 }

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .title { font-size: 14px; }
  .text {
    font-size: 12px;
  }
  .imageStyle{
    width: 100px;
    height: 100px; 
  }
} 

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/*Margin with the nav*/
.mt-5{
  margin-top: -1.5rem !important;
}
 /* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 768px) and (min-width: 600px) {
  .title { font-size: 14px; }
  .text {
    font-size: 12px;
  }
  .imageStyle{
    width: 100px;
    height: 100px; 
  }
}

.btn{
  margin-top: 0px;
  margin-left: 2px;
}
          