        .item1 
          { grid-area: menu; 
           text-align: left;}
        .item2 
        { grid-area: main;
          text-align: center;}
        .item3 
        { grid-area: right; 
          text-align: center;}
        
        
        .grid-container {
          display: grid;
          grid-template-areas:
            
            'menu main'
            'menu right';
          grid-gap:5px;
          
          padding: 5px;
        }
        
        .grid-container > div {               
          padding: 10px 20px;
          font-size: 30px;
        }
 
        .title {
            font-weight: bold;
            font-size: 75%;
          }

        .text {
            font-size: 50%;
          } 
          .imageStyle {
            width: 150px;
            height: 150px;       
          } 
          .searchPadding{
              padding-left: 30%;
              padding-right: 30%;
          }
         .hover{
            background-color: rgba(156, 156, 156, 0.425);
         }
         .hover:hover{
            background-color: rgba(156, 156, 156, 0.658);
         }
          