<main class="mt-5 pt-5">
  <div class="container" *ngIf="charge">
    <div class="card form-inline" style="text-align: center;">
      <h2><strong>Top donantes</strong></h2>
      <hr>
      <div class="form-inline">
        <div class="flip-card ">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              
              <img src="https://live.staticflickr.com/65535/48038697027_ae4883442c_m.jpg" alt="Avatar"
                style="width:300px;height:270px;">
              <label style="background-color: darkorange;">{{donorPiecesArray[0][0]}}</label>
            </div>
            <div class="flip-card-back">
                <br/>
              <h1>Piezas</h1>
              <div *ngFor="let piece of donorPiecesArray[0]">
                <p *ngIf="donorPiecesArray[0][0]!=piece">{{piece}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="https://live.staticflickr.com/65535/48038696982_1e64e9d632_m.jpg" alt="Avatar"
                style="width:300px;height:270px;">
              <label style="background-color: darkorange;">{{donorPiecesArray[1][0]}}</label>
            </div>
            <div class="flip-card-back">
              <br/>
              <h1>Piezas</h1>
              <div *ngFor="let piece of donorPiecesArray[1]">
                <p *ngIf="donorPiecesArray[1][0]!=piece">{{piece}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="https://live.staticflickr.com/65535/48038593131_3bedea5eef_m.jpg" alt="Avatar"
                style="width:300px;height:270px;">
              <label style="background-color: darkorange;">{{donorPiecesArray[2][0]}}</label>
            </div>
            <div class="flip-card-back">
                <br/>
              <h1>Piezas</h1>
              <div *ngFor="let piece of donorPiecesArray[2]">
                <p *ngIf="donorPiecesArray[2][0]!=piece">{{piece}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card" style="text-align: center;">
      <div class="card mb-3 mdb-color darken-2">
        <div
          style="font-family: 'Titillium Web', sans-serif; font-size: 40px; color: #ffffff; margin-top: 10px; margin-bottom: 10px;">
          <b>Agradecimientos a los donantes al museo</b></div>
      </div>
      <hr>

      <div class="container">
        <div class="row">
          <div class="col-sm" style="text-align: left">
            Alberto Lozano Barcia<br>
            Alejandro Pequeño Boter<br>
            Alfonso Carlos Rodríguez Barragán<br>
            Antonio López<br>
            Carlos Lomeña<br>
            Casimiro Población<br>
            Ciudad de los Niños<br>
            Claudio Bonilla Toyos<br>
            Enrique Peregrín Pitto<br>
            Erna Ehlert<br>
            Fali<br>
            Fernando Agudo Lencero<br>
            Fernando...<br>
            Francisco Luis Medina Montoya<br>
            Heine Ehlert<br>
          </div>
          <div class="col-sm" style="text-align: left">
            Hermann Schittenhelm<br>
            Holger Klee<br>
            Miguel Ángel Pascual Pérez<br>
            Miguel Angel Romero Castillo<br>
            Pilar Durán<br>
            Regalo<br>
            S. Pequeño Ciaurritz<br>
            ICET<br>
            Ingrid Graf<br>
            Javier (Cazorla)<br>
            Javier Moreno y Bernardo<br>
            Jordi Ferré<br>
            José Sánchez Arjona<br>
            Lourdes Martínez Reina<br>
            Luis Arce Matute<br>
          </div>
          <div class="col-sm" style="text-align: left">
            Luis C Avellan (Mr.Electroplastic)<br>
            Luis Nogueira Díaz<br>
            Luiz Alberto Feijó Jr.<br>
            Luiz Cláudio Vieira<br>
            Manolo González<br>
            Manolo Mallorca<br>
            María Luisa de Arroita<br>
            María Mayans<br>
            Marido de Nuria<br>
            Sonja Blaschek<br>
            Thomas Heinrich<br>
            Toñi Moreno Navas -APA Valle Inclán<br>
            Virginia Cañas<br>
            Werner Schneider<br>
          </div>
        </div>
      </div>

    </div>
    <div class="card" style="text-align: center;">
      <div class="card mb-3 mdb-color darken-2">
        <div
          style="font-family: 'Titillium Web', sans-serif; font-size: 40px; color: #ffffff; margin-top: 10px; margin-bottom: 10px;">
          <b>Donaciones</b></div>
      </div>
      <hr>
      <div
        style="font-family: 'Titillium Web', sans-serif; font-size: 18px; color:#0099cc; margin-top: 10px; margin-bottom: 10px; text-align: left">
        <b>¿Quieres contribuir a la causa?</b></div>
      <hr>
      <p style="text-align: justify;">
        ¿Tienes un viejo ordenador y no sabes qué hacer con él?, pues anímate y escríbeme a
        <strong>museo@teclas.org</strong>, o llámame por teléfono al <strong>639 11 97 41</strong> preguntando por
        <strong>Daniel Sancho</strong>.<br>
        <br>
        Por el momento he recibido donaciones desde España (Málaga, Mallorca, Barcelona, Salamanca, Sevilla), Alemania y
        Brasíl.<br>
      </p>
      <hr>
      <div
        style="font-family: 'Titillium Web', sans-serif; font-size: 18px; color: #0099cc; margin-top: 10px; margin-bottom: 10px; text-align: left">
        <b>¿Qué tipo de material me interesa?</b></div>
      <hr>
      
      <p style="text-align: justify; margin-left: 10px;">
        <li>Calculadoras, tanto de bolsillo como de sobremesa, vivas o muertas. Me interesan sobre todo de sobremesa y
          anteriores a 1975, entre las de bolsillo, las programables. </li><br>
        <li> Ordenadores, y/o componentes, vivos o muertos. Me interesan sobre todo anteriores a 1985. Documentación,
          libros, revistas, prospectos,...sobre todo anteriores a 1985</li><br>
        <br>
        Si alguien desea donar algo más moderno podría buscar alguna institución que aún pueda sacarle partido al
        material.<br>
        <br>
        Si está en mi radio de acción me puedo llegar a recogerlo. Yo vivo en Málaga y viajo con frecuencia a otras
        provincias.<br>
      </p>
    </div>
    <div class="card" style="text-align: center;">
      <div class="card mb-3 mdb-color darken-2">
        <div
          style="font-family: 'Titillium Web', sans-serif; font-size: 40px; color: #ffffff; margin-top: 10px; margin-bottom: 10px;">
          <b>¿Qué ando buscando?</b></div>
      </div>
      <hr>
      <p style="text-align: justify;">
        Ahora mismo me doy por satisfecho con la marcha del museo, se han cubierto grandes sectores dentro de lo que es
        la historia de las máquinas de calcular y la informática.<br>
      </p>
      <div
        style="font-family: 'Titillium Web', sans-serif; font-size: 18px; color:#0099cc; margin-top: 10px; margin-bottom: 10px; text-align: left">
        <b>Aquí os muestro a grandes rasgos lo que ando buscando y el motivo</b></div>
      <p style="text-align: justify; margin-left: 10px;" >
        <li><strong>IBM 5100, IBM 5110, ... 1975 (transportable 25kg)</strong> Se trata de una máquina completa y
          compacta.</li>
        <li><strong>Mits Altair</strong></li>
        <li><strong>TRS-80 model I</strong> Primer ordenador para el que escribí un programa.</li>
        <li><strong>Rockwell AIM-65</strong> Hice un programa para él.</li>
        <li><strong>Osborne 1 "transportable"</strong></li>
        <li><strong>Hewlett Packard Integral Personal Computer (Unix)</strong></li>

      </p>
      <div
        style="font-family: 'Titillium Web', sans-serif; font-size: 18px; color:#0099cc; margin-top: 10px; margin-bottom: 10px; text-align: left">
        <b>Otras máquinas también son bienvenidas</b></div>
      <p style="text-align: justify; margin-left: 10px;">
        <li><strong>Miniordenadores tipo Digital PDP-8, PDP-11, IBM 360 - 370 </strong></li>

      </p>

      <div
        style="font-family: 'Titillium Web', sans-serif; font-size: 18px; color:#0099cc; margin-top: 10px; margin-bottom: 10px; text-align: left">
        <b>Cualquier miniordenador</b></div>
      <p style="text-align: justify; margin-left: 10px;">
        <li><strong>Olivetti Programma 101</strong> De las primeras de mesa programable.</li>
        <li><strong>Olivetti Programma 203</strong></li>
        <li><strong>Anita C/VII, C/VIII, C/IX Válvulas</strong></li>
        <li><strong>Friden Pantalla CRT. RPN</strong></li>
        <li><strong>HP-9100, HP-98xx Programable. HP</strong></li>

      </p>

      <div
        style="font-family: 'Titillium Web', sans-serif; font-size: 18px; color:#0099cc; margin-top: 10px; margin-bottom: 10px; text-align: left">
        <b>Calculadoras electrónicas de sobremesa programables también son bienvenidas</b></div>
      <p style="text-align: justify; margin-left: 10px;">
        <li><strong>Comptator (SuN)</strong></li>
        <li><strong>Addometer</strong></li>

      </p>

      <div
        style="font-family: 'Titillium Web', sans-serif; font-size: 18px; color:#0099cc; margin-top: 10px; margin-bottom: 10px; text-align: left">
        <b>Calculadoras mecánicas</b></div>
      <p style="text-align: justify; margin-left: 10px;">
        <i></i>
        <li><strong>Sharp EL-805</strong> Primera calculadora con pantalla LCD (COS-LCD)</li>
        <li><strong>HP-01</strong> Reloj calculadora</li>
        <li><strong>Casio fx-502p</strong> Lo he usado</li>
        <li><strong>Apple Newton</strong> De los primeros PDA</li>

      </p>
      <div
        style="font-family: 'Titillium Web', sans-serif; font-size: 18px; color:#0099cc; margin-top: 10px; margin-bottom: 10px; text-align: left">
        <b>Otros</b></div>
      <p style="text-align: justify; margin-left: 10px;">
        <li><strong>Lectora de tarjetas, y otras máquinas que las utilizan tarjetas o cinta perforada</strong></li>
        <li><strong>Unidad de cinta magnética</strong></li>
        <li><strong>Tambor magnético</strong></li>
        <li><strong>Disco duro de más de 5 1/4 pulgadas.</strong></li>
        <li><strong>Unidad de disco de 8 pulgadas</strong></li>
        <li><strong>Máquina con memoria de burbujas magnéticas</strong></li>
      </p>
    </div>
  </div>
</main>