.item1 { grid-area: left; }
        .item2 { grid-area: right; }
        
        
        
        .grid-container {
          display: grid;
          grid-template-areas:
            
            'left left left right right right'
            'left left left right right right';
          grid-gap:5px;
          
          padding: 5px;
        }
        
        .grid-container > div {          
          text-align: center;
          padding: 10px 20px;
          font-size: 30px;
        }

        .text {
            font-size: 50%;
          }

          .title {
            font-weight: bold;
            font-size: 75%;
            text-align: left;
          }

          .formPadding{
              padding-right: 30%;
          }