<div class="container">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="documentation-tab" data-toggle="tab" href="#documentation" role="tab" aria-controls="documentation"
          aria-selected="true">Documentaci&oacute;n</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="piece-tab" data-toggle="tab" href="#piece" role="tab" aria-controls="piece"
          aria-selected="false">Colecci&oacute;n</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="brand-tab" data-toggle="tab" href="#brand" role="tab" aria-controls="brand"
          aria-selected="false">Marca</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="type-tab" data-toggle="tab" href="#type" role="tab" aria-controls="type"
          aria-selected="false">Tipo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="room-tab" data-toggle="tab" href="#room" role="tab" aria-controls="room"
          aria-selected="false">Salas</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="documentation" role="tabpanel" aria-labelledby="documentation-tab">
          <app-documentationCRUD></app-documentationCRUD>
      </div>
      <div class="tab-pane fade" id="piece" role="tabpanel" aria-labelledby="piece-tab">
          <app-pieceCRUD></app-pieceCRUD>
      </div>
      <div class="tab-pane fade" id="brand" role="tabpanel" aria-labelledby="brand-tab">
          <app-brandCRUD></app-brandCRUD>
      </div>
      <div class="tab-pane fade" id="type" role="tabpanel" aria-labelledby="type-tab">
          <app-typeCRUD></app-typeCRUD>
      </div>
      <div class="tab-pane fade" id="room" role="tabpanel" aria-labelledby="room-tab">
          <app-roomCRUD></app-roomCRUD>
      </div>
    </div>
    
</div>