<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="documentation-tab" data-toggle="tab" [routerLink]="['/documentationCRUD']"
                role="tab" aria-controls="documentation" aria-selected="true">Documentaci&oacute;n</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="collection-tab" data-toggle="tab" [routerLink]="['/pieceCRUD']" role="tab"
                aria-controls="collection" aria-selected="false">Colecci&oacute;n</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="brand-tab" data-toggle="tab" [routerLink]="['/brandCRUD']" role="tab"
                aria-controls="brand" aria-selected="false">Marca</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="type-tab" data-toggle="tab" [routerLink]="['/typeCRUD']" role="tab"
                aria-controls="type" aria-selected="false">Tipo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="room-tab" data-toggle="tab" [routerLink]="['/roomCRUD']" role="tab"
                aria-controls="room" aria-selected="false">Sala</a>
        </li>
    </ul>
</div>
<main class="mt-5 pt-5">
    <div class="container">
        <div class="container2">
            <div class="input-group mb-3 searchPadding">
                <input id="inputSearch" type="text" class="form-control" placeholder="Buscar" aria-label="Buscar"
                    aria-describedby="button-addon2" [(ngModel)]='inputSearchValue'>
                <div class="input-group-append">
                    <button (click)="doSearch()" class="btn btn-basic btn-md" type="button" id="button-addon2"
                        style="color: #ffffff; background-color: #0099cc;">Buscar</button>
                </div>
            </div>
            <div class="grid-container1">
                <div class="item1 title">{{types.length}} resultados encontrados</div>
                <div class="item2"><button class="btn btn-primary btn-md" (click)="goToCreateType()" type="button"
                        id="button-addon2">Crear Tipo</button></div>
            </div>
            <div class="noTypes" style="text-align: center;">
                <br />
                <br />
                <h2>No hay tipos que mostrar.</h2>
                <br />
                <br />
            </div>
            <div class="typeList">
                <mat-nav-list *ngFor="let type of types">
                    <div class="grid-container hover">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="item1">
                                        <p class="title">{{type.name}}</p>
                                    </div>
                                </div>
                                <div class="col col-lg-2">
                                    <div class="item2">
                                        <a (click)="goToEditType(type)"><img class="imageButton"
                                                src="https://image.flaticon.com/icons/png/512/61/61776.png" /></a>
                                        &nbsp;
                                        <a (click)="doDelete(type)"><img class="imageButton"
                                                src="https://cdn.pixabay.com/photo/2012/04/12/20/12/x-30465__340.png" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-nav-list>
            </div>
        </div>
    </div>
</main>
<!--Main layout-->