.item1 { grid-area: menu; 
  text-align: left;}
.item2 { grid-area: right; 
      text-align: right;}

.grid-container {
display: grid;
grid-gap:5px;
padding: 5px;
}

.grid-container > div {          

padding: 10px 20px;
font-size: 30px;
}

.grid-container1 {
  display: grid;
  grid-template-areas:
    
    'menu menu menu menu right'
    'menu menu menu menu right';
  grid-gap:5px;
  
  padding: 5px;
}

.grid-container1 > div {          
  
  padding: 10px 20px;
  
}

.title {
  font-weight: bold;
  font-size: 75%;
}

.text {
  font-size: 50%;
} 
.imageStyle {
  width: 150px;
  height: 150px;       
} 
.searchPadding{
    padding-left: 30%;
    padding-right: 30%;
}
.hover{
  background-color: #C2D8ED;
}
.hover:hover{
  background-color: #6699CC;
  color: #ffffff;
}
.imageButton{
  width: 40px;
  height: 40px; 
}
.mt-5.pt-5{
  padding-bottom: 117px;
 }
 .container2 {
  background-color:#fefefe;
  padding: 20px;
  margin-top: 24px;
}
/*Margin with the nav*/
.mt-5{
  margin-top: -4.5rem !important;
}
.btn{
  margin-top: 0px;
  margin-left: 2px;
}