<main class="mt-5 pt-5">
  <div class="container">
    <div class="row">
      <!--Left Column-->
      <div class="leftcolumn">
        <div class="card border-light mb-3" style=" padding: 10px; margin-top: 20px;">
          <div
            style="position:relative; height:692px; width:670px; background:url(https://lh3.googleusercontent.com/3t8UYgQfVHv9_H6UQoHw7qpHmv0DdwC3C7jn6mxOer4q1uD4_mlGtcr0TTnOvAaZ-GYyeJIR3o0dnA=w1919-h937) 0 0 no-repeat;">
            <div style="position:absolute; top:67px; left:286px; width:137px; height:48px;opacity:0; background-color: blueviolet;"
              onmouseover="this.style.opacity='0.2';" onmouseout="this.style.opacity='0';" title="SALA2" alt="SALA2"
              target="_self"  (click)="doSearch('Sala 2')"></div><a
              style="position:absolute; top:116px; left:239px; width:95px; height:70px;opacity:0; background-color: blueviolet;"
              onmouseover="this.style.opacity='0.2';" onmouseout="this.style.opacity='0';" title="SALADEGRADOSA"
              alt="SALADEGRADOSA" href="www.aa.com" target="_self"></a><a
              style="position:absolute; top:199px; left:272px; width:195px; height:64px;opacity:0; background-color: blueviolet;"
              onmouseover="this.style.opacity='0.2';" onmouseout="this.style.opacity='0';" title="BIBLIOTECA"
              alt="BIBLIOTECA" href="www.aa.com" target="_self"></a><a
              style="position:absolute; top:270px; left:110px; width:191px; height:78px;opacity:0; background-color: blueviolet;"
              onmouseover="this.style.opacity='0.2';" onmouseout="this.style.opacity='0';"
              title="SECRETARIADEINFORMATICA" alt="SECRETARIADEINFORMATICA" href="www.aa.com" target="_self"></a><a
              style="position:absolute; top:364px; left:418px; width:149px; height:36px;opacity:0; background-color: blueviolet;"
              onmouseover="this.style.opacity='0.2';" onmouseout="this.style.opacity='0';" title="ESPACIO4SALA1"
              alt="ESPACIO4SALA1" href="www.aa.com" target="_self"></a><a
              style="position:absolute; top:399px; left:359px; width:157px; height:42px;opacity:0; background-color: blueviolet;"
              onmouseover="this.style.opacity='0.2';" onmouseout="this.style.opacity='0';" title="ESPACIO4SALA2"
              alt="ESPACIO4SALA2" href="www.aa.com" target="_self"></a><a
              style="position:absolute; top:445px; left:304px; width:147px; height:32px;opacity:0; background-color: blueviolet;"
              onmouseover="this.style.opacity='0.2';" onmouseout="this.style.opacity='0';" title="ESPACIO4SALA3"
              alt="ESPACIO4SALA3" href="www.aa.com" target="_self"></a><a
              style="position:absolute; top:520px; left:86px; width:153px; height:88px;opacity:0; background-color: blueviolet;"
              onmouseover="this.style.opacity='0.2';" onmouseout="this.style.opacity='0';" title="SALONDEACTOS"
              alt="SALONDEACTOS" href="www.aa.com" target="_self"></a><a
              style="position:absolute; top:575px; left:242px; width:49px; height:45px;opacity:0; background-color: blueviolet;"
              onmouseover="this.style.opacity='0.2';" onmouseout="this.style.opacity='0';" title="CONSERJERIA"
              alt="CONSERJERIA" href="www.aa.com" target="_self"></a><a
              style="position:absolute; top:578px; left:317px; width:135px; height:45px;opacity:0; background-color: blueviolet;"
              onmouseover="this.style.opacity='0.2';" onmouseout="this.style.opacity='0';" title="MODULO1" alt="MODULO1"
              href="www.aa.com" target="_self"></a><a
              style="position:absolute; top:543px; left:365px; width:148px; height:32px;opacity:0; background-color: blueviolet;"
              onmouseover="this.style.opacity='0.2';" onmouseout="this.style.opacity='0';" title="MODULO2" alt="MODULO2"
              href="www.aa.com" target="_self"></a><a
              style="position:absolute; top:501px; left:420px; width:152px; height:35px;opacity:0; background-color: blueviolet;"
              onmouseover="this.style.opacity='0.2';" onmouseout="this.style.opacity='0';" title="MODULO3" alt="MODULO3"
              href="www.aa.com" target="_self"></a><a
              style="position:absolute; top:499px; left:326px; width:76px; height:29px;opacity:0; background-color: blueviolet;"
              onmouseover="this.style.opacity='0.2';" onmouseout="this.style.opacity='0';" title="PLANTAPRIMERASALA1"
              alt="PLANTAPRIMERASALA1" href="www.aa.com" target="_self"></a>
          </div>
        </div>
      </div>
      <!--Right Column-->
      <div class="rightcolumn">
        <div class="card border-light mb-3" style=" padding: 20px; margin-top: 20px;">
          <h4><b>Coincidencias: {{pieces.length>0 ? pieces.length : 'No hay piezas que coincidan con esos criterios, intenta seleccionar otra sala'}}
            </b> </h4>
          <div class="card-columns">
            <div class="card border-info mb-3" *ngFor="let piece of pieces" (click)="goToPiece(piece)">
              <img class="card-img-top" src="{{piece.images[0]}}" alt="Card No image">
              <div class="card-body">
                <h5 class="card-title">{{piece.name}}</h5>
                <p class="card-text">{{ (piece.text).substring(0,100)}}{{piece.text.length > 100 ? '...' : ''}}
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">{{piece.types}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</main>