<main class="mt-5 pt-5">
    <div class="container">
        <div
            style="font-family: 'Titillium Web', sans-serif; font-size: 40px; color: #003366; margin-top: 10px; margin-bottom: 10px;">
            <b>Inicio de sesión</b></div>
        <br />
        <h5 class="errorText" style="font-family: 'Titillium Web', sans-serif;">{{errorText}}</h5>
        <label for="inputText" class="sr-only">Usuario</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Usuario" required autofocus
            [(ngModel)]='inputUsername'>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required
            [(ngModel)]='inputPassword'>
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="signIn()">Iniciar sesión</button>
        <p class="mt-5 mb-3 text-muted">&copy; Museo Informática - 2019</p>
    </div>
</main>
<!--Main layout-->