<main class="mt-5 pt-5">
    <div class="container">

        <!--Carousel Wrapper-->
        <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                <li data-target="#carousel-example-2" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="view">
                        <img class="d-block w-100" src="{{piece1.images[0]}}" alt="First slide">
                        <a (click)="goToPiece(piece1)" target="_blank">
                            <div class="mask rgba-black-slight"></div>
                        </a>
                    </div>
                    <div class="carousel-caption">
                        <div class="containerTextCarousel">
                        <h3 class="h3-responsive">{{piece1.name}}</h3>
                        <p>Fabricante: {{piece1.brand}}</p>
                        <p>Año: {{piece1.year}}</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="{{piece2.images[0]}}" alt="Second slide">
                        <a (click)="goToPiece(piece2)" target="_blank">
                            <div class="mask rgba-black-slight"></div>
                        </a>
                    </div>
                    <div class="carousel-caption">
                            <div class="containerTextCarousel">
                        <h3 class="h3-responsive">{{piece2.name}}</h3>
                        <p>Fabricante: {{piece2.brand}}</p>
                        <p>Año: {{piece2.year}}</p>
                    </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="{{piece3.images[0]}}" alt="Third slide">
                        <a (click)="goToPiece(piece3)" target="_blank">
                            <div class="mask rgba-black-slight"></div>
                        </a>
                    </div>
                    <div class="carousel-caption">
                            <div class="containerTextCarousel">
                        <h3 class="h3-responsive">{{piece3.name}}</h3>
                        <p>Fabricante: {{piece3.brand}}</p>
                        <p>Año: {{piece3.year}}</p>
                    </div>
                    </div>
                </div>
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->

        <hr class="my-5">

        <!--Section: Cards-->
        <section class="text-center">

            <!--Grid row-->
            <div class="row mb-4 wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <img src="{{piece1ByBrand.images[0]}}" class="card-img-top" alt="">
                            <a (click)="goToSearch(brand1)" target="_blank">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">{{brand1.name}}</h4>
                            <!--Text-->
                            <p class="card-text">{{brand1.text}}</p>

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <img src="{{piece2ByBrand.images[0]}}" class="card-img-top" alt="">
                            <a (click)="goToSearch(brand2)" target="_blank">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">{{brand2.name}}</h4>
                            <!--Text-->
                            <p class="card-text">{{brand2.text}}</p>

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <div class="view overlay">
                            <img src="{{piece3ByBrand.images[0]}}" class="card-img-top" alt="">
                            <a (click)="goToSearch(brand3)" target="_blank">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">{{brand3.name}}</h4>
                            <!--Text-->
                            <p class="card-text">{{brand3.text}}</p>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->
        </section>
        <!--Section: Cards-->

    </div>

</main>
<!--Main layout-->